//$Colores

$color-texto: white; //Color de texto
$color-titulo: white; //Color de titulos
$color-fondo: #2c2e3e;//Color de fondo
$color-header-fondo: #ee2b47;//Color del bg del header
$color-footer-fondo: #ee2b47;//Color del bg del footer
$color-twitter:#00acee;
$color-google:#DB4437;
$color-transparencia-media: rgba(255,255,255,0.3);
$color-transparencia-baja: rgba(255,255,255,0.1);
$color-transparencia-alta: rgba(255,255,255,1);

//$Tipografía
$fuente-base: 'Muli', sans-serif;

$fuente-volumen-bajo: 10px;
$fuente-volumen-base: 14px;
$fuente-volumen-componente:16px;
$fuente-volumen-titulos: 20px;
$fuente-volumen-titulos-bold: 22px;

$fuente-componente: $fuente-base;
$fuente-componente-color: $color-texto;

//$Constantes
$size_header:60px;
$size_footer:60px;