.button{        
    &--transparente{
        @extend %button;
        background-color: $color-transparencia-media;        
        border-radius: 25px;        
        letter-spacing: 1px;                
    }

    &--twitter{
        @extend %button;
        background-color: $color-twitter;
    }

    &--google{
        @extend %button;
        background-color: $color-google;
    }

    &--back{     
        @extend %button;
        grid-column-start: 2 ;  
        grid-row-start: 4;
        background-color: $color-transparencia-media;
        width: 200px;                
        justify-self: center;
    }


    &__icon{        
        width: 16px;
        margin-right: 10px;
    }

}
