

.input{                
    &--login{
        @extend %input;
        background-color:transparent;        
        border-left: 0px;
        border-right: 0px;
        border-top:0px;                        
        margin: 0px 0px 20px 0px;        
        outline:none;        
    }
    &--buscar{
        @extend %input;
        background-color: $color-transparencia-media;
        border-radius: 30px;
        width: 70%;        
        outline-style: none;
    }
}

::placeholder{
    color:white;
}

