.error-404{    
    min-height: calc(100vh - #{$size_header} - #{$size_footer});
    @extend %flex-center; 
    display:grid;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    &__caja{ 
      grid-area: 2 /3 / 4 / 6;     
    }
    & p{
      grid-area: 4 / 3 / 6 / 6;      
      justify-self: center;
      align-self: center;
      @extend %style_title_bold;
    }
    & img{
      grid-area: 2 / 6 / 8 / 9;   
      width: 350px;
      justify-self: left;
    }
    & .button--back{
      grid-area: 6/3/8/6;
    }    
}



@include respond-to{
  .error-404{
    display:flex;
    @include flex-center-direction(column);                
    & img{
      width:200px;
    }
  }  
}

.text { 
  text-align: center;
  margin-top: 56px;
  color: $color-contorno;  
  font-size: 50px;
  font-weight: bold;
}

.animated {
  animation-duration: 5.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  30% {transform: translateY(-60px);}  
  70% {transform: translateY(-15px);}
}
.bounce {
  animation-name: bounce;
}

