.footer{
    background-color: #ee2b47;
    display: flex;
    align-items: center;
    height: 60px;

    
    width: 100%;
    & a{
        color:white;
        cursor: pointer;
        font-size: 14px;
        padding-left:30px;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    @include respond-to{
        @include flex-center(column);            
    }
}