.login{
    background: #2c2e3e;
    color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
    min-height: calc(100vh - 120px);
  }
  .login__container{
      background-color: rgba(255,255,255,0.1);
      border: 2px solid white;
      border-radius: 40px;
      padding: 60px 68px;
      min-height: 700px;
      width: 300px;
      display:flex;
      justify-content: space-around;
      flex-direction: column;
  }  
  .login__form{
      display:flex;
      flex-direction: column;
  }
  .login__remember-me{
      font-size: 14px;
      display:flex;
      justify-content: space-between;
      margin-top: 10px;
  }
  .login__remember-me a{
      text-decoration: none;
      color:white;
  }
  .login__remember-me a:hover{
      text-decoration: underline;
  }
  
  /* .login__social-media div{
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-bottom: 10px;
  }
  .login__social-media div img{
      width: 16px;
      margin-right: 10px;
  } */
  .login__social-media{
      display:flex;
      flex-direction: column;
      justify-content: center;
      
  }
  
  .login__register{
      font-size: 14px;        
      
  }
  .login__register a{
      font-size: 16px;        
      font-weight: bold;
      text-decoration: none;
      color:white;
  }
  .login__register a:hover{        
      text-decoration: underline;
  }
  .login__init{          
    display:flex;
    justify-content: center;
  }
  .login__init a{
    font-size: 16px;        
    font-weight: bold;
    text-decoration: none;
    color:white;
    }
 .login__init a:hover{        
    text-decoration: underline;
    }

  
@media only screen and (max-width: 600px){
    .login__container{
        background-color:transparent;
        border:none;
        padding: 0px;
                  width:100%;    
    }
}