.login{
    background: #2c2e3e;
    color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
    min-height: calc(100vh - 120px);
    
    &__container{
        background-color: rgba(255,255,255,0.1);
        border: 2px solid white;
        border-radius: 40px;
        padding: 60px 68px;
        min-height: 700px;
        width: 300px;
        display:flex;
        justify-content: space-around;
        flex-direction: column;

        @include respond-to{
            background-color:transparent;
            border:none;
            padding: 0px;
            width:100%;    
        }
    }  

    &__form{
        display:flex;
        flex-direction: column;
    }

    &__remember-me{
        font-size: 14px;
        display:flex;
        justify-content: space-between;
        margin-top: 10px;
        & a{
            text-decoration: none;
            color:white;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    &__social-media{
        display:flex;
        flex-direction: column;
        justify-content: center;
        
    }

    &__register{
        font-size: 14px;        
        & a{
            font-size: 16px;        
            font-weight: bold;
            text-decoration: none;
            color:white;
            &:hover{        
                text-decoration: underline;
            }
        }
    }

    &__init{          
        display:flex;
        justify-content: center;
        & a{
            font-size: 16px;        
            font-weight: bold;
            text-decoration: none;
            color:white;
            a:hover{        
                text-decoration: underline;
            }
        }
    }

  }
  